*{
    box-sizing: border-box;
}

/* .cvinputform{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows  :  auto 3rem 3rem; 
} */
.cvinput_box{
    
    width: 70%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: transparent;
    backdrop-filter: blur(14px);
    background-color: rgba(35, 35, 35, 0.3);
}

.userDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.pagination{
    margin: 1rem 0rem 1rem 0rem;
}