*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.colour_scheme{
    color:#F6F4EB
#91C8E4
#749BC2
#4682A9
#4977ce
#7c50b1

}

.cvinput_box{  
    width: 70%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: transparent;
    backdrop-filter: blur(14px);
    background-color: rgba(35, 35, 35, 0.3);
}
.pagination{
    display: flex;
    gap: 0.5rem;
}

.userDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.pagination{
    margin: 1rem 0rem 1rem 0rem;
}

.workExperienceProjMain{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 1rem;
    
}
.workExperienceProjTitle {
    display: flex;
    flex-direction: column;
}

.workExperienceProjSub{
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
    /* backdrop-filter: blur(50px); */
    background-color: #00000068; 
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 10px;
    justify-content: space-between;
    grid-gap: 2.5rem;
}

.detailUnit{
    display: flex;
}

.workexpprojdelete{
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(196, 53, 53, 0.791) ;
border-radius: 10px;
}
.workexpprojdelete:hover{background-color: rgb(196, 53, 53) ;cursor: pointer;}

.educationSub{
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 1fr;
    grid-gap: 1rem;
    justify-content: space-between;
    margin: 1rem 0rem 1rem 0rem;
}

.skillLang{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.skillLangIntdisplayunit{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    gap: 0.5rem;
}


.achivementsub{display: grid;
    grid-template-columns: 8fr 8fr 1fr;
    grid-gap: 1rem;
    justify-content: space-between;
    margin: 1rem 0rem 1rem 0rem;}