*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input:-webkit-autofill {
    color: white !important;
    background-color: transparent !important;
  }
.headingLogin{
  font-size: 1.4rem;
}
.reg_container{
  padding: 2rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;  
    width: 30%;
    align-items: center;
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: 5rem;
    backdrop-filter: blur(10px);
    background-color: #e5e5cb58;
    color: #1a120b;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

.login_container{
  padding: 2rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;  
    width: 30%;
    align-items: center;
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: 5rem;
    backdrop-filter: blur(10px);
    background-color:#e5e5cb58;
    color: #1a120b;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}


