/*
Colour Palette
#F6F4EB: Background
#91C8E4 : Secondary
Elements: #749BC2
Accent: #4682A9
*/

.colour_scheme{
    color:#F6F4EB
#91C8E4
#749BC2
#4682A9
}


*{
    box-sizing: border-box;

}
.navbar{
    display: flex;
    /* background-color: brown; */
    width:fit-content;
    color: white;
    /*margin: 1.5em;*/
    border-radius: 1em;


}

.nav_ele{
    padding: 20px;
    margin: 0 1em 0 1em;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userimg{
width: 60px;
height: auto;
border-radius: 50%;
}
